/* 

Fonts :
font-family: 'Nothing You Could Do', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

/* Defaults Configs*/
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  margin: 0;
}

h1 {
  text-align: center;
}

/*Header*/
.header {
  display: fixed;
  background-color: #f2f2f2;
  position: fixed;
  width: 100%;
  padding-left: 10px;
}

/* Fast Links */
.header li {
  display: inline-flex;
  float: right;
  font-size: 20px;
}

.header li ul a {
  text-decoration: none;
  position: relative;
  top: 17px;
  margin-right: 10px;
  color: rgb(82, 82, 82);
  transition-duration: 0.4s;
}

.header li ul a:visited {
  color: rgb(82, 82, 82);
  font-weight: bold;
}

.header li ul a:hover {
  color: #f96d00;
  font-size: 21px;
}

.header-logo {
  display: inline-flex;
}

/* Logo */
.logo {
  align-items: center;
}

/* Image Logo */
.logo img {
  height: 40px;
  width: auto;
}

/* Logo Text */
.logo h3 {
  font-family: "Raleway", sans-serif;
}

/* Mission Section */
.mission {
  background-image: url(Resources/MainPage.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mission Logo */
.mission .logo {
  color: white;
  width: 30%;
  text-align: center;
  align-items: center;
}

/* Mission Phase */
.mission h3 {
  font-family: "Nothing You Could Do", cursive;
  color: white;
}

/* E-Commerce */
.boards {
  display: flex;
  justify-content: center;
}

.boards li {
  display: inline-flex;
  text-align: center;
}

/* Card Shop */
.boards ul {
  margin-right: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  display: table-column;
  border-radius: 20px;
  justify-content: space-around;
  border: 2px solid #dadada;
}

/* Card Shop Mouse */
.boards ul:hover {
  background-color: #dadada;
  transition-duration: 0.4s;
}

/* Space of the Images */
.img {
  height: 200px;
  width: 200px;
}

.img:hover {
  height: 205px;
  width: 205px;
  transition-duration: 0.2s;
}

/* Skate Images */
.long {
  background-image: url(Resources/LongBoardE-Commerce.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.normal {
  background-image: url(Resources/SkateEcomerce.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.mini {
  background-image: url(Resources/MiniSkateEcomerce.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 5px;
}

/* Card Button */
.boards button {
  padding: 10px;
  color: #f96d00;
  text-decoration: none;
  border: 2px solid #f96d00;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: 0.4s;
}

/* Card Button Mouse */
.boards button:hover {
  background-color: #f96d00;
  border: 2px solid #f96d00;
  color: white;
  box-shadow: none;
}

/* Leaders Image */
.pd {
  background-image: url(Resources/ProjectDirector.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-position: center;
}

.f {
  background-image: url(Resources/Founder.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-position: center;
}

.md {
  background-image: url(Resources/MarketingDirector.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-position: center;
}

.team {
  background-image: url("/Resources/pexels-felipe-d'sousa-2539595.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
}

footer {
  width: 100%;
  text-align: center;
  line-height: 10px;
}

footer img {
  width: 60px;
}
